<footer class="site-footer">
    <div class="container">
        <div class="row">
         <div class="col-lg-3 col-5 ms-auto"></div>

            <div class="col-12">
                <h5 class="text-white text-center">
                    <!-- <i class="bi-geo-alt-fill me-2"></i> -->
                    kebfort limited
                </h5>

                <a href="mailto:info@company.com" class="custom-link mt-3 mb-5">
                    +447448109918,
                </a>

               <a href="mailto:info@company.com" class="custom-link mt-3 mb-5">
                Kebfortl@gmail.com
                </a>

            </div>
        </div>

            <div class="col-6">
                <p class="copyright-text mb-0">Copyright © just-te<span>ch</span> 2025
                
                <br><br>Design: <a href="https://templatemo.com/page/1" target="_parent">just-te<span>ch</span> 
            </div>

            <div class="col-lg-3 col-5 ms-auto">
                <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                </ul>
            </div>

        </div>
    </section>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<script src="js/scrollspy.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>